body {
  background-color: rgb(45, 211, 211);
  font-family: Arial, sans-serif;
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  height: 100vh;
  margin: 0;

}

#right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 30px;
}

#clocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 2px;
  text-align: center;
  width: 200px;
}

.clock h2 {
  font-size: 20px;
  color: #ffffff;
}

.clock p {
  margin: 0;
  font-size: 18px;
  color: #ffffff;
}

#stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 200px;
}

#stopwatch h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #ffffff;
}

#stopwatch p {
  margin: 0;
  font-size: 18px;
  color: #ffffff;
}

#buttons {
  display: flex;
}

button {
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
}

#left-container {
  width: 40%;
}

#right-container {
  width: 30%;
  right: 30px;
  padding-top: 120px;
  color: #ffffff;
}

#clocks {
  display: flex;
  flex-direction: column;
}

.clock,
#stopwatch {

  padding: 20px;
  padding-bottom: 10px;
  background-color: #2c2c2c;
  color: #fff;
}
.buttt,
#buttons button {
  background-color: #17a2b8;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.header {
  background-color: #3c3535;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  /* Keep the header on top */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;

  z-index: 1;
  /* Lower z-index for the backdrop */
}

.modal {
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  z-index: 1001;
  /* Lower z-index for the modal */

}

.close-btn,
.delete-btn,
.details-btn,
.add-btn {
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.close-btn {
  background-color: #007bff;
  color: #fff;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
}

.details-btn {
  background-color: #28a745;
  color: #fff;
}

.add-btn {
  background-color: #17a2b8;
  color: #fff;
}

.input-group {
  margin-bottom: 15px;
  cursor: text;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.input-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
 
  background-color: #444;
  color: #fff;
  border: 1px solid #555;
  border-radius: 4px;
}

#app {
color: #fff;
  width: 800px;
  margin: auto;
  margin-top: 150px;
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  margin-right: 550px;
}

.task {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
}

.task:hover {
  cursor: default;
}

main {
  padding: 20px;
  background-color: #2c2c2c;
  margin-top: 160px;
  margin-left: 50px;
  margin-right: 50px;
  border: 10px grey;
  border-radius: 8px;
  margin-bottom: 20px;
  flex-wrap: wrap;
 
}

h2 {
  /* margin-bottom: 10px; */
}

.website-list {
  list-style-type: none;
  padding: 0;
  /* flex-wrap:wrap ; */
  position: fixed;
  flex: 1; /* Each list takes equal space */
  margin-left: 20px; /* Add some space between lists */
  
}

.website-list li {
  /* margin-bottom: 10px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.website-link {
  padding: 10px 20px;
  background-color: #17a2b8;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

.website-link:hover {
  background-color: #1b8793;
}

.status {
  font-size: 12px;
  color: #888;

}

.web-sec {
  margin-right:1100px;
  margin-bottom: 200px;
  overflow-x: auto; /* Allow horizontal scrolling if content overflows */
  /* flex-wrap: wrap; */
  display: flex; /* Use flexbox */
  justify-content: space-between; 
  width: 60%; /* Take up full width */

}
/* .web-h1{
  margin-top: 200px;
align-items: center;
  margin:  auto;

} */
