/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
}

header {
  background-color: #1f1f1f;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
}

nav .nav-btn {
  background-color: #333333;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

nav .nav-btn:hover {
  background-color: #555555;
}

main {
  padding: 20px;
}

.add-btn, .close-btn {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 5px;
  border-radius: 3px;
}

.add-btn:hover, .close-btn:hover {
  background-color: #0056b3;
}

#taskList {
  margin-top: 20px;
}

.task-item {
  background-color: #1f1f1f;
  border: 1px solid #333333;
  padding: 10px;
  margin-bottom: 10px;
}

.task-item h3 {
  margin: 0 0 5px;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 5px;
  margin: 15px;
  width: 500px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 99%;
  padding: 8px;
  background-color: #333333;
  border: 1px solid #444444;
  color: white;
  border-radius: 3px;
}

input::placeholder {
  color: #bbbbbb;
}

.details p {
  margin: 5px 0;
  font-size: large;
  
}

.view-details-btn {
  background-color: #9506e2;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 5px;
  border-radius: 3px;
}

.view-details-btn:hover {
  background-color: #00b345;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 5px;
  border-radius: 3px;
}

.delete-btn:hover {
  background-color: #c82333;
}


.website-links {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  gap: 20px;
  margin-top: 20px;
  justify-content: start; /* Align to the left */
}

.website-link {
  text-align: left;
}

.link-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin: 5px 0;
  border-radius: 3px;
}

.link-btn:hover {
  background-color: #0056b3;
}

.website-link p {
  margin: 0;
  font-size: 1.2em;
  color: #ffffff;
}






.website-list {
  list-style-type: none;
  padding: 0;
  /* flex-wrap:wrap ; */
  position: fixed;
  flex: 1; /* Each list takes equal space */
  margin-left: 20px; /* Add some space between lists */
  
}

.website-list li {
  /* margin-bottom: 10px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.website-link {
  padding: 10px 20px;
  background-color: #17a2b8;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

.website-link:hover {
  background-color: #1b8793;
}


.web-sec {

  margin-bottom: 200px;
  overflow-x: auto; 
  display: flex; 
  justify-content: space-between; 
  width: 20%; 

}



/* Additional styles for the contact list page */
.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 98%;
  padding: 8px;
  background-color: #333333;
  border: 1px solid #444444;
  color: white;
  border-radius: 3px;
  
}

#contactList {
  margin-top: 20px;
}

.contact-item {
  background-color: #1f1f1f;
  border: 1px solid #333333;
  padding: 10px;
  margin-bottom: 10px;
}

.contact-item h3 {
  margin: 0 0 5px;
}

.contact-item p {
  margin: 0;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 5px;
  margin: 15px;
}



.contact-item {
  background-color: #1f1f1f;
  border: 1px solid #333333;
  padding: 10px;
  margin-bottom: 10px;
  position: relative; /* Ensure that the delete button can be positioned relative to the container */
}

.contact-item h2 {
  margin: 0 0 5px;
}

.contact-item p {
  margin: 0;
}

.contact-item button {
  background: none; /* Transparent background */
  border: none; /* No border */
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.contact-item button img {
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
}