body {
  background: #4ACDDE;
  background: linear-gradient(135deg, #4EFFDF, #48BBDE, #F47EC6);
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

#calendar {
  flex: 1;
  margin-right: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 30px;
}

#clocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.clock {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 200px;

}

.clock h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.clock p {
  margin: 0;
  font-size: 18px;
  color: #555;
}

#stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 200px;
}

#stopwatch h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

#stopwatch p {
  margin: 0;
  font-size: 18px;
  color: #555;
}

#buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
}










html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  quotes: "«" "»";
}