
body {
    background: linear-gradient(135deg, #4EFFDF, #48BBDE, #F47EC6);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;

}

.header {
    background-color: #3c3535;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    padding-bottom: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


.task-container {
    position: fixed;
    top: 150px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 15px;
    margin-bottom: 4005px;
    margin-bottom: 30px;
}


.larger-input {
    width: 60%;
    padding: 10px;
    border-radius: 30px;
}

.add-task-button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 200px;
    border-radius: 30px;
    padding-right: 50px;
    padding-left: 50px;
}

.add-task-button:hover {
    background-color: #218838;
}

.task-paragraph {
    width: 10%;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ddd;
    border-radius: 5px;
}




.task {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    display: flex;
    /* align-items: center; */
    width: 97%;
    box-sizing: border-box;
    
}



.deleteButton {
    cursor: pointer;
    color: red;
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
}

.deleteButton:hover {
    background-color: #ffcccc;
}

.span {
    width: 10%;
    color: #000;
    margin-left: auto;

}